@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif !important;
}
.txt-menu {
	position: relative;
	display: inline-block;
}
#b-dashboard {
	overflow-x: hidden;
}
.backdrop {
	position: absolute;
	left: 0px;
	right: 0px;
}
.badge-pill {
	display: inline-block;
	padding: 1rem 1.5rem;
	line-height: 1;
	color: #2666cf;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 50rem;
	border: 1px solid #dee2e6;
	background-color: #fff !important;
}
.badge-pill:hover {
	background-color: #084594 !important;
	border: 1px solid #084594;
	color: #fff;
}
.badge-pill.active {
	background-color: #084594 !important;
	border: 1px solid #084594;
	color: #fff !important;
}
/* .bayangan {
	transition: width 0.3s ease-in-out;
} */
.billboard {
	z-index: 1;
}
.bg-blue-primary {
	background-color: #084594;
}
.bg-blue-2 {
	background-color: #2666cf;
	color: #ffff;
}
.bg-primary-green {
	background-color: #b8fff9;
}
.bg-tp {
	height: 284px;
}
.bg-base-color {
	background-color: #effffd;
}
.bg-page4 {
	background-image: url("../img/clint-mckoy-unsplash.jpg");
	background-repeat: no-repeat;
	background-position: center;
	border-bottom-left-radius: 96px;
	border-bottom-right-radius: 96px;
}
.bg-page4::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.6);
	display: block;
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	border-bottom-left-radius: 96px;
	border-bottom-right-radius: 96px;
}
.bg-white {
	background-color: #ffff !important;
	opacity: 1 !important;
	--bs-bg-opacity: 1;
}
.breadcrumb {
	--bs-breadcrumb-divider: ">";
}
.btn-primer {
	/* background-color: #42c2ff; */
	background-color: #2666cf;
	color: #fff;
	border-radius: 0.7rem !important;
}
.btn.btn-primer:hover {
	color: #fff !important;
	background-color: #084594;
}
.btn-outline-primer {
	color: #2666cf;
	border-color: #2666cf;
}
.btn-outline-primer:hover {
	background-color: #084594;
	color: #fff;
	border-color: #084594;
}
.btn-outline-primer:focus {
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgba(8, 69, 148, 0.5);
}
.card-content {
	border-radius: 25px;
}
.card-body-dashboard {
	bottom: 3rem;
}
.card-header-2 {
	border-radius: 25px;
	background-color: #f5f2e7;
	padding: 10px;
	width: fit-content;
	left: 1rem;
	bottom: 3rem;
}
.card-diagnosis {
	border-radius: 25px !important;
	background-color: #dff6ff;
}
.card-metode {
	border-radius: 25px;
	box-shadow: 5px 15px 35px #1111;
	min-width: 20rem;
	min-height: 17rem;
}
.carousel-item {
	min-height: 200px;
}
.cd-img {
	transition: transform 0.3s ease-out;
}
.content {
	bottom: 6rem;
}
.content-page4 {
	position: relative;
	border-radius: 50px;
	bottom: 5rem;
	padding: 2rem;
}
.form-control:focus {
	color: #1e272e !important;
	background-color: #fff;
	border-color: #084594;
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgba(8, 69, 148, 0.25) !important;
}
.form-select {
	color: #1e272e !important;
}
.form-select > option:hover {
	background-color: #2666cf !important;
	color: #fff !important;
}
.form-select:focus {
	color: #1e272e !important;
	background-color: #fff;
	border-color: #084594 !important;
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgba(8, 69, 148, 0.25) !important;
}
footer {
	background-color: #084594;
}
header {
	z-index: 5;
	position: fixed;
	width: 100%;
	transition: all 0.5s;
	top: 0px;
}
.header-content {
	min-height: 300px;
}
.link-dark {
	color: #1e272e !important;
}
.list-continuing {
	counter-increment: section !important;
}
.main-content {
	overflow-x: hidden !important;
}
.navbar {
	transition: all 0.5s;
	color: #fff;
}
.nav-txt-link {
	display: block;
	padding: 0.5rem 1rem;
	text-decoration: none;
	color: #fff;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
	color: #fff !important;
	background-color: #2666cf !important;
}
#page1::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.7);
	/* background-image: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0.5),
		rgba(8, 69, 148, 0.5)
	); */
}
#page2 {
	background-color: #f5f2e7;
	/* background-image: url("../img/card-2.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom; */
}
.sidebar {
	top: 0;
	left: 0;
	bottom: 0;
	width: 260px;
}
.tab-pane {
	min-height: 300px;
}
.text-base {
	color: #1e272e !important;
}
.text-blue-primer {
	color: #42c2ff !important;
}
.text-justify {
	text-align: justify !important;
}
.text-title {
	font-size: 3.5rem;
	font-weight: 800;
	text-transform: uppercase;
	color: #fff !important;
}
.z-0 {
	z-index: 0;
}
.z-1 {
	z-index: 1;
}
.z-2 {
	z-index: 2;
}
.z-3 {
	z-index: 3;
}
/* TAMPILAN DESKTOP */
@media (min-width: 992px) {
	.backdrop {
		height: 268%;
		/* bottom: -838px; */
		bottom: 0;
		border-top-left-radius: 96px;
		border-top-right-radius: 96px;
	}
	.bg-tp {
		height: 100px;
	}
	.bg-page4 {
		background-size: cover;
		min-height: 400px;
		border-bottom-left-radius: 96px;
		border-bottom-right-radius: 96px;
	}
	.bg-page4::after {
		border-bottom-left-radius: 96px;
		border-bottom-right-radius: 96px;
	}
	.card-info-sistem {
		width: 15rem;
		border-radius: 25px !important;
		top: 1.5rem;
	}
	.card-login {
		min-height: 560px;
	}
	.card-penyakit {
		width: 23rem;
	}
	.card-penyakit > .card-body {
		padding-top: 7rem !important;
	}
	.cd-img {
		top: 1rem;
	}
	.div-info {
		top: 3rem;
	}
	footer {
		min-height: 250px;
	}
	.foto-login {
		background-image: url("../img/mariliz-lopez-unsplash.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 650px;
	}
	.login-content {
		min-height: 700px;
	}
	.login-group {
		min-height: 560px;
	}
	.number-penyakit {
		font-size: 9rem;
		position: absolute;
		z-index: 0;
		color: #1e272e;
		opacity: 20%;
		font-weight: 800;
	}
	.img-gejala {
		height: 315px;
		border-radius: 25px;
	}
	.main-content {
		min-height: 700px;
	}
	#page1 {
		background-image: url("../img/rodrigo-flores-unsplash.jpg");
		background-attachment: fixed;
		background-repeat: no-repeat;
		position: relative;
		background-size: cover;
		background-position: center;
		height: 740px;
	}
	#page1::after {
		display: block;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0px;
		overflow: hidden;
	}
	#page2 {
		max-height: 850px;
	}
	#page3 {
		min-height: 700px;
	}
	#page4 {
		min-height: 1300px;
		background-color: #f5f2e7;
	}
	.row-breadcrumb {
		padding-top: 4.4rem !important;
		font-size: 0.8rem;
	}
	.row-button-next-prev {
		min-height: 200px;
	}
	.content-page4 {
		min-height: 715px;
	}
	.txt-menu:after {
		content: "";
		position: absolute;
		width: 100%;
		transform: scaleX(0);
		height: 2px;
		bottom: 0;
		left: 0;
		background-color: #fff;
		transform-origin: bottom right;
		transition: transform 0.25s ease-out;
	}
	.txt-menu:hover:after {
		transform: scaleX(1);
		transform-origin: bottom left;
	}
}
